<div class="d-flex align-items-center justify-content-between mb-4">
  <h3 class="hint">Most Active</h3>
  <a href="javascript:void(0)" (click)="updateList()" class="hint" *ngIf="stockService.allowReloadMostActive">
    <i class="fas fa-redo-alt"></i>
    Reload</a>
</div>

<div class="row" *ngIf="!loading">
  <div class="col-12 col-sm-6 col-md-8 col-lg-6 mb-4" *ngFor="let quote of list">
    <app-stock-list-item [quote]="quote"></app-stock-list-item>
  </div>
</div>

<div infiniteScroll [immediateCheck]="true" (scrolled)="onScroll()">
</div>

<div *ngIf="!list || loading">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-8 col-lg-6 mb-4" *ngFor="let quote of emptyStockList">
      <app-empty-stock-list-item></app-empty-stock-list-item>
    </div>
  </div>
</div>
