<a href="javascript:void(0);" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true"
  aria-expanded="false">
  Account
  <!-- {{ selfService.fullName() | shorten : 30 : '...' }} -->
</a>
<div class="dropdown-menu dropdown-menu-right" style="width: 248px;">
  <a (click)="themeService.toggleTheme()" class="dropdown-item dropdown-item-account dropdown-divider">
    <div class="w-100 d-flex align-items-center justify-content-between">
      <div>
        Dark Theme
      </div>
      <div>
        <span *ngIf="themeService.usingDarkTheme()">
          <i class="primary fas fa-toggle-on"></i>
        </span>
        <span *ngIf="!themeService.usingDarkTheme()">
          <i class="fas fa-toggle-off"></i>
        </span>
      </div>
    </div>
  </a>
  <a [routerLink]="['/account']" class="dropdown-item dropdown-item-account">
    Account
  </a>
  <a [routerLink]="['/account/banking']" class="dropdown-item dropdown-item-account dropdown-divider">
    Banking
  </a>
  <!-- 
  <a [routerLink]="['/account/history']" class="dropdown-item dropdown-item-account">
    History
  </a>
  <a [routerLink]="['/account/settings']" class="dropdown-item dropdown-item-account dropdown-divider">
    Settings
  </a> -->
  <a [routerLink]="['/login']" (click)="authService.logout()" class="dropdown-item dropdown-item-account">
    Log Out
  </a>
</div>
