<a href="javascript:void(0);" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true"
  aria-expanded="false">Account</a>
<div class="dropdown-menu dropdown-menu-right" style="width: 296px;">
  <a [routerLink]="['/gold']" class="dropdown-item dropdown-item-account robinhood-gold">
    <app-robinhood-gold-icon></app-robinhood-gold-icon>
    Robinhood Gold
  </a>
  <a [routerLink]="['/account/referral']" class="dropdown-item dropdown-item-account">
    <app-free-stock-icon></app-free-stock-icon>
    Free Stock
  </a>
  <a [routerLink]="['/account']" class="dropdown-item dropdown-item-account">
    <app-account-icon></app-account-icon>
    Account
  </a>
  <a [routerLink]="['/account/banking']" class="dropdown-item dropdown-item-account">
    <app-banking-icon></app-banking-icon>
    Banking
  </a>
  <a [routerLink]="['/account/history']" class="dropdown-item dropdown-item-account">
    <app-history-icon></app-history-icon>
    History
  </a>
  <a [routerLink]="['/account/settings']" class="dropdown-item dropdown-item-account dropdown-divider">
    <app-settings-icon></app-settings-icon>
    Settings
  </a>
  <a href="#" class="dropdown-item dropdown-item-account disabled">
    <app-help-icon></app-help-icon>
    Help
  </a>
  <a href="#" class="dropdown-item dropdown-item-account dropdown-divider disabled">
    <app-disclosures-icon></app-disclosures-icon>
    Disclosures
  </a>
  <a [routerLink]="['/login']" (click)="authService.logout()" class="dropdown-item dropdown-item-account">
    <app-logout-icon></app-logout-icon>
    Log Out
  </a>
</div>
