.theme-open-up {
  --mdc-theme-primary: #21ce99;
  --mdc-theme-secondary: #171718;
  --mdc-theme-surface: #ffffff;
  --mdc-theme-background: #ffffff;

  --mdc-theme-on-primary: #ffffff;
  --mdc-theme-on-secondary: #ffffff;
  --mdc-theme-on-surface: #21ce99;
  --mdc-theme-on-background: #21ce99;

  --mdc-theme-text-primary-on-background: #171718;
  --mdc-theme-text-secondary-on-background: #a7aaac;
  --mdc-theme-text-hint-on-background: #b1bfc4;
  --mdc-theme-text-disabled-on-background: #b1bfc4;
  --mdc-theme-text-icon-on-background: #21ce99;
}

.theme-open-down {
  --mdc-theme-primary: #f45531;
  --mdc-theme-secondary: #171718;
  --mdc-theme-surface: #ffffff;
  --mdc-theme-background: #ffffff;

  --mdc-theme-on-primary: #ffffff;
  --mdc-theme-on-secondary: #ffffff;
  --mdc-theme-on-surface: #f45531;
  --mdc-theme-on-background: #21ce99;

  --mdc-theme-text-primary-on-background: #171718;
  --mdc-theme-text-secondary-on-background: #a7aaac;
  --mdc-theme-text-hint-on-background: #b1bfc4;
  --mdc-theme-text-disabled-on-background: #b1bfc4;
  --mdc-theme-text-icon-on-background: #f45531;
}

.theme-closed-up {
  --mdc-theme-primary: #21ce99;
  --mdc-theme-secondary: #ffffff;
  --mdc-theme-surface: #171718;
  --mdc-theme-background: #171718;

  --mdc-theme-on-primary: #171718;
  --mdc-theme-on-secondary: #171718;
  --mdc-theme-on-surface: #21ce99;
  --mdc-theme-on-background: #21ce99;

  --mdc-theme-text-primary-on-background: #ffffff;
  --mdc-theme-text-secondary-on-background: #a7aaac;
  --mdc-theme-text-hint-on-background: #b1bfc4;
  --mdc-theme-text-disabled-on-background: #b1bfc4;
  --mdc-theme-text-icon-on-background: #21ce99;
}

.theme-closed-down {
  --mdc-theme-primary: #f45531;
  --mdc-theme-secondary: #ffffff;
  --mdc-theme-surface: #171718;
  --mdc-theme-background: #171718;

  --mdc-theme-on-primary: #ffffff;
  --mdc-theme-on-secondary: #171718;
  --mdc-theme-on-surface: #f45531;
  --mdc-theme-on-background: #21ce99;

  --mdc-theme-text-primary-on-background: #ffffff;
  --mdc-theme-text-secondary-on-background: #a7aaac;
  --mdc-theme-text-hint-on-background: #b1bfc4;
  --mdc-theme-text-disabled-on-background: #b1bfc4;
  --mdc-theme-text-icon-on-background: #f45531;
}

.mdc-button {
  text-transform: none;
  outline: none !important;
}
