<section class="search-container search">
  <form [formGroup]="searchForm">
    <input type="search" formControlName="search" name="stocksearch" placeholder="Search..." autocomplete="off">
    <ul class="search-ac" *ngIf="stocks">
      <li *ngFor="let stock of stocks"><a [routerLink]="['/stocks/' + stock.symbol]">
          <span style="display: inline-block; width: 78px;"
            [innerHTML]="stock.symbol | highlightSearch : searchForm.controls['search'].value"></span>
          <span
            [innerHTML]="stock.name | shorten: 35: '...' | highlightSearch : searchForm.controls['search'].value"></span>
        </a></li>
    </ul>
  </form>
</section>
