<nav class="my-navbar sticky-top">
  <div class="content">
    <a class="logo" [routerLink]="['']">
      <svg style="fill: currentColor;" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="32"
        viewBox="0 3 24 18">
        <g id="surface1">
          <path style=" "
            d="M 11 9 L 10 7 L 10 10 C 8 10 7 8.699219 7 7 L 0 7 C 1.398438 7.398438 3 9.5 3 12 C 6.601563 12 11.601563 16.398438 12 19 C 12.601563 16.398438 17.398438 12 21 12 C 21 9.5 22.601563 7.398438 24 7 L 17 7 C 17 8.699219 16 10 14 10 L 14 7 L 13 9 Z ">
          </path>
        </g>
      </svg>
    </a>

    <app-nav-search></app-nav-search>

    <div class="nav-container">
      <ul class="nav-items">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['']">Home</a>
        </li>
        <!-- <li class="nav-item">
          <app-notifications-menu></app-notifications-menu>
        </li> -->
        <li class="nav-item">
          <app-account-menu></app-account-menu>
        </li>
      </ul>
    </div>

  </div>
</nav>
