<div class="row">
  <div class="col-md-8 pr-5 mb-3 mb-lg-0">
    <h3 class="primary">Profile</h3>
    <p class="hint pr-5">Update your personal details.</p>
  </div>
  <div class="col-md-16">
    <app-profile-update-form></app-profile-update-form>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-8 pr-5 mb-3 mb-lg-0">
    <h3 class="primary">Password</h3>
    <p class="hint pr-5">Your password must be at least 8 characters long.</p>
  </div>
  <div class="col-md-16">
    <app-password-update-form></app-password-update-form>
  </div>
</div>
