<div class="row">
  <div class="col-sm-12 col-md-8">
    <div class="list-group-item p-4">
      <app-portfolio-value [account]="account" [portfolio]="portfolio" [account]="account">
      </app-portfolio-value>
    </div>
  </div>
  <div class="col-md-16">
    <ul class="list-group">
      <li class="list-group-item p-0 hover" *ngFor="let ownedStock of portfolio.stocks; let i = index;">
        <app-owned-stock [ownedStock]="ownedStock" [i]="i"></app-owned-stock>
      </li>

      <li class="list-group-item p-4" *ngIf="portfolio.stocks.length == 0">
        <span class="hint">You have no stocks in your portfolio.</span>
      </li>
    </ul>
  </div>
</div>
