<div class="row">
  <div class="col-md-8 pr-5 mb-3 mb-lg-0">
    <h3 class="primary">Transfer Funds</h3>
    <p class="hint pr-5 mb-2">Move funds between Batman and your bank accounts.</p>
  </div>
  <div class="col-md-16">
    <app-transfer-funds-form (transferCompleteEmitter)="transferCompleted($event)" [bankAccounts]="bankAccounts"
      [account]="account"></app-transfer-funds-form>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-8 pr-5 mb-3 mb-lg-0">
    <h3 class="primary">Linked Accounts</h3>
    <p class="hint pr-5">Available bank accounts for fund transfers.</p>
  </div>
  <div class="col-md-16">
    <app-linked-accounts-list (accountDeletedEmitter)="accountDeleted($event)" [bankAccounts]="bankAccounts">
    </app-linked-accounts-list>

    <app-main-success-alert *ngIf="accountRemovedMessage" [message]="'Successfully removed'"></app-main-success-alert>


    <hr class="my-4">

    <app-link-account-form (accountCreatedEmitter)="accountCreated($event)"></app-link-account-form>
  </div>
</div>
