<div class="list-group-item px-2 py-1">
  <span class="hover-bg d-inline-block" style="width: 55px; line-height: 1;">&nbsp;</span>
</div>
<div class="p-2 d-flex align-items-start flex-column list-group-item p-0" style="height: 112px;">
  <p class="mb-auto">
    <span class="hover-bg d-inline-block" style="width: 85px; line-height: 1;">&nbsp;</span>
  </p>
  <div>
    <p class="mb-1">
      <span class="hover-bg d-inline-block" style="width: 55px; line-height: 1;">&nbsp;</span>
    </p>
    <p class="font-weight-light">
      <span class="hover-bg d-inline-block" style="width: 45px; line-height: 1;">&nbsp;</span>
    </p>
  </div>
</div>
