<div class="d-flex align-items-center justify-content-between">
  <div>
    <h3 class="font-weight-normal mb-1">{{ bankAccount.name }}
      <span class="hint">({{ bankAccount.accountNumber }})</span></h3>
    <h4 [ngClass]="{'green': bankAccount.balance > 0, 'red': bankAccount.balance <= 0}">
      {{ bankAccount.balance| currency }}</h4>
  </div>
  <button class="btn btn-primary btn-outline btn-lg" [disabled]="isSubmitting" (click)="openDialog()">
    <span *ngIf="!isSubmitting">Remove</span>
    <app-main-loader [color]="'primary'" *ngIf="isSubmitting"></app-main-loader>
  </button>
</div>
