label {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 300;
}

.textarea,
.input {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  background: var(--input-background);
  border: 1px solid var(--input-background);
  border-radius: 4px;
  font-size: 1rem;
  color: var(--h-color);
  outline: none;
  display: block;
  font-family: var(--font-body);
  transition: .25s ease-in-out;

  &:hover {
    background: var(--background);
    border: 1px solid var(--input-border);
  }

  &::placeholder {
    color: var(--input-placeholder);
  }

  &:focus {
    background: var(--background);
    border: 1px solid map-get($colors, "green");
  }

  &.ng-touched.ng-invalid {
    border: 1px solid map-get($colors, "red");
  }

  &.ng-valid.ng-touched {
    // border-bottom: 3px solid var(--green);
  }

}

.theme-closed .input {
  border: 1px solid var(--input-border);
}

.input {
  height: 36px;
}

.input-lg {
  height: 48px;
}

.textarea {
  min-height: 150px;
  font-size: 0.95em;
}
