label {
  display: inline-block;
  font-size: 13px;
  margin: 0;
  font-weight: 300;
}

.textarea,
.input,
.select {
  padding: 0 13px;
  width: 100%;
  box-sizing: border-box;
  background: var(--input-background);
  border: 1px solid var(--input-background);
  border-radius: 4px;
  font-size: 13px;
  color: var(--text-color);
  outline: none;
  display: block;
  font-family: var(--font-body);
  transition: .25s ease;

  &:hover {
    background: var(--background);
    border: 1px solid var(--input-border);
  }

  &::placeholder {
    color: var(--input-placeholder);
  }

  &:focus {
    background: var(--background);
    border: 1px solid map-get($colors, "green");
  }

  &.ng-touched.ng-invalid {
    border: 1px solid map-get($colors, "red");
  }

  &.ng-valid.ng-touched {
    // border-bottom: 3px solid var(--green);
  }
}

.select {
  cursor: pointer;
}

.theme-closed .input,
.theme-closed .select {
  border: 1px solid var(--input-border);
}

.input,
.select {
  height: 36px;
}

.input-lg,
.select-lg {
  height: 48px;
  padding: 0 20px;
}

.textarea {
  min-height: 150px;
  font-size: 13px;
}

.form-group {
  label.lg {
    height: 48px;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
