$colors: ("green": #fce137,
  "red": #24759e,
  "light-green": #e4fff7,
  "light-red": #ffeeea);

$batman-gold: #f8b967;
$content-width: 1024px;

// @font-face {
//   font-family: 'batman-font';
//   src: url('assets/fonts/48a3635ce1e76c0122a143b076f51adf.otf') format('opentype');
//   font-weight: 500;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'batman-font';
//   src: url('assets/fonts/86fda98796bb4100ba905535a77723bd.otf') format('opentype');
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'batman-font';
//   src: url('assets/fonts/e0be9bd5e372b2c379893b776e7b2b96.otf') format('opentype');
//   font-weight: 300;
//   font-style: normal;
// }

@mixin default-theme {
  --background: white;
  --button-text-color: white;
  --text-color: #171718;
  --input-background: #fafafa;
  --input-border: #cbcbcd;
  --input-placeholder: #cbcbcd;
  --primary-color: map-get($colors, "green");
  --secondary-color: map-get($colors, "red");
  --success-color: #fce137;
  --danger-color: #fce137;
  --border-color: #f2f2f2;
  --background-hover: #f2f2f2;
  --hint-color: #171718;
  --box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(42, 46, 46, 0.09);
  transition: all 0.25s ease;
}

.theme-open {
  @include default-theme;
}

.theme-closed {
  --background: #1b1b1d;
  --button-text-color: #1b1b1d;
  --text-color: white;
  --input-background: #1b1b1d;
  --input-border: #0e0d0d;
  --input-placeholder: #858587;
  --primary-color: map-get($colors, "green");
  --secondary-color: map-get($colors, "red");
  --success-color: #fce137;
  --danger-color: #fce137;
  --border-color: #0E0D18;
  --background-hover: #131314;
  --hint-color: #8c8c8e;
  --box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
}

.theme-up {
  --primary-color: #fce137;
  --secondary-color: #fce137;
  --success-color: #fce137;
  --danger-color: #fce137;
}

.theme-down {
  --primary-color: #fce137;
  --secondary-color: #fce137;
  --success-color: #fce137;
  --danger-color: #fce137;
}

.batman-gold {
  color: #f8b967;
}

.batman-gold-bg {
  background-color: #f8b967;
}

:root {

  @each $name,
  $color in $colors {
    --#{$name}: #{$color};
    --#{$name}-dark: #{darken($color, 7%)};
    --#{$name}-light: #{lighten($color, 7%)};
  }

  --font-body: 'Roboto',
  sans-serif;
  --font-head: 'ratio',
  sans-serif; // effra erbaum
  --font-size: 13px;


  @include default-theme;
}

.hint {
  color: var(--hint-color);
  font-weight: 400;
}

body {
  background: var(--background);
  color: var(--text-color);
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-size);
  letter-spacing: .25px;
  font-weight: 500;
}

a {
  color: var(--text-color);
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: var(--primary-color);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // color: var(--h-color);
  font-family: var(--font-body);
  font-weight: 500;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

i {
  svg {
    position: relative;
    width: 1em;
    margin: 0 3px;
    top: 0.125em;
  }
}

.zero-top {
  svg {
    top: 0;
  }
}

.primary {
  color: var(--primary-color);
}

.primary-bg {
  background-color: var(--primary-color);
}

.danger {
  color: var(--danger-color);
}

.danger-bg {
  background-color: var(--danger-color);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 250px;
  margin-top: 120px;
  font-size: 0.85em;
  opacity: 0.8;
}

hr {
  // margin: 15px 0;
  width: 100%;
  margin: 0;
  border: none;
  border-top: 1px solid var(--border-color);
}

li {
  padding: 0.5em 0;
}


blockquote {
  position: relative;
  padding-left: 1em;
  border-left: var(--nav-bg) 3px dashed;
  font-size: 1.2em;
  font-weight: 300;
}

// Color Utilities

@each $name,
$color in $colors {
  .#{$name} {
    color: $color;
  }

  .#{$name}-bg {
    background: $color;
  }
}

// Random Stuff

::selection {
  background: var(--green);
  color: white;
}
