<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true"
  aria-expanded="false">Notifications</a>
<div class="dropdown-menu dropdown-menu-right" style="width: 340px">
  <a href="#" class="dropdown-item dropdown-item-notification dropdown-divider">
    <div class="p-4">
      <h6>Transfer Complete</h6>
      <span class="hint">Your $9723.10 transfer to your bank is complete.</span>
    </div>
  </a>
  <a href="#" class="dropdown-item dropdown-item-notification dropdown-divider">
    <div class="p-4">
      <h6 class="m-0">Transfer Pending</h6>
      <span class="hint">Your $50.00 transfer to your bank account will be available by Jul 24, 2019.</span>
    </div>
  </a>
  <a href="#" class="dropdown-item dropdown-item-notification dropdown-divider">
    <div class="p-4">
      <h6 class="m-0">VTI Sold</h6>
      <span class="hint">You sold 5 shares of VTI for $151.66</span>
    </div>
  </a>
  <a href="#" class="dropdown-item dropdown-item-notification dropdown-divider">
    <div class="p-4">
      <h6 class="m-0">VOO Sold</h6>
      <span class="hint">You sold 25 shares of VOO for $272.51</span>
    </div>
  </a>
  <a href="#" class="dropdown-item dropdown-normal-link text-center">View History</a>
</div>
