.main-account-nav-wrapper-wrapper {
  height: 111px;
}

.account-navbar-wrapper {
  background-color: var(--background);
  border-bottom: 1px solid;
  height: 113px;
  left: 0;
  position: fixed;
  top: 64px;
  width: 100%;
  z-index: 99;
  border-color: var(--border-color);
}
