<div class="container">
  <button class="mdc-button" (click)="onListen()">Connect</button>
  <div class="row">
    <div class="col-6" *ngFor="let theme of themes">
      <div class="mdc-theme--background container p-3" [ngClass]="theme">
        <div class="mdc-theme--primary-bg mdc-theme--on-primary">
          <h2>primary</h2>
        </div>
        <div class="mdc-theme--secondary-bg mdc-theme--on-secondary">
          <h2>secondary</h2>
        </div>
        <div class="mdc-theme--surface mdc-theme--on-surface">
          <h2>surface</h2>
        </div>
        <div class="mdc-theme--text-primary-on-background">
          <h5 class="mdc-theme--text-primary-on-background">primary</h5>
          <h5 class="mdc-theme--text-secondary-on-background">secondary</h5>
          <h5 class="mdc-theme--text-hint-on-background">hint</h5>
          <h5 class="mdc-theme--text-disabled-on-background">disabled</h5>
          <h5 class="mdc-theme--text-icon-on-background">icon</h5>
        </div>
        <button class="mdc-button mdc-button--unelevated">
          Button
        </button>
      </div>
    </div>
  </div>
</div>
