  <div class="container p-5 ">
    <div class="mdc-theme--primary-bg mdc-theme--on-primary">
      <h1>primary</h1>
    </div>
    <div class="mdc-theme--secondary-bg mdc-theme--on-secondary">
      <h1>secondary</h1>
    </div>
    <div class="mdc-theme--surface mdc-theme--on-surface">
      <h1>surface</h1>
    </div>
    <div class="mdc-theme--background mdc-theme--text-primary-on-background">
      <h1 class="mdc-theme--text-primary-on-background">background</h1>
      <h4 class="mdc-theme--text-secondary-on-background">secondary</h4>
      <h4 class="mdc-theme--text-hint-on-background">hint</h4>
      <h4 class="mdc-theme--text-disabled-on-background">disabled</h4>
      <h4 class="mdc-theme--text-icon-on-background">icon</h4>
    </div>
    <button class="mdc-button">
      <span>Button</span>
    </button>
  </div>
