<ul class="list-group">
  <li class="list-group-item p-3">
    <div class="d-flex align-items-center justify-content-between">
      <h3 class="hint">Watchlist</h3>
      <a href="javascript:void(0)" (click)="updateWatchlist()" class="hint"
        *ngIf="allowedToReload && watchlist?.length > 0">
        <i class="fas fa-redo-alt"></i>
        Reload
      </a>
    </div>
  </li>
  <div *ngIf="isLoading">
    <li class="list-group-item p-0" *ngFor="let i of emptyWatchList">
      <app-watch-list-empty-item></app-watch-list-empty-item>
    </li>
  </div>
  <div *ngIf="!isLoading">
    <li class="list-group-item p-0" *ngFor="let stock of watchlist; let i = index;">
      <app-watch-list-item [stock]="stock"></app-watch-list-item>
    </li>

  </div>
  <li *ngIf="watchlist?.length == 0" class="list-group-item hint text-center px-5 py-4">
    Search your favorite stock and add it to your Watchlist.
  </li>
</ul>
