<hr>

<button class="btn btn-lg btn-primary">Hello</button>
<button class="btn btn-primary">Hello</button>
<br><br>
<button class="btn btn-lg btn-secondary">Hello</button>
<button class="btn btn btn-secondary">Hello</button>
<br><br>
<button class="btn btn-lg btn-success">Hello</button>
<button class="btn btn btn-success">Hello</button>
<br><br>
<button class="btn btn-lg btn-danger">Hello</button>
<button class="btn btn btn-danger">Hello</button>

<br><br>

<div class="alert alert-primary">Hello</div>
<div class="alert alert-secondary">Hello</div>
<div class="alert alert-success">Hello</div>
<div class="alert alert-danger">Hello</div>
