.main-navbar-wrapper {
  height: 64px;
  z-index: 9999;
}

.navbar-wrapper {
  background-color: var(--background);
  height: 64px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
