<div class="container-fluid main-container" *ngIf="stockDetails">
  <div class="row justify-content-between">
    <div class="col-md-16 mb-4">
      <h2>{{ stockDetails.name | shorten : 30 : '...'}}</h2>
      <h2 class="font-weight-normal">
        {{ currencySymbol }}<app-odometer [value]="stockDetails.quote.latestPrice"></app-odometer>
      </h2>
      <!-- <pre>{{ stockDetails | json}}</pre> -->
    </div>
    <div class="col-md-8">
      <div>
        <app-buy-stock-card [quote]="stockDetails.quote"></app-buy-stock-card>
      </div>
    </div>
  </div>
</div>
<app-main-not-found-page *ngIf="!stockDetails"></app-main-not-found-page>
