<div class="container-fluid main-container pb-5" *ngIf="stockDetails">
  <div class="row justify-content-between mb-5">
    <div class="col-md-16 mb-4 mb-md-0">
      <div class="d-flex align-items-top justify-content-between">
        <div>
          <h2 class="mb-1">{{ stockDetails.name | shorten : 30 : '...'}}</h2>
          <h2 class="font-weight-normal">
            {{ currencySymbol }}<app-odometer [value]="stockDetails.quote.latestPrice"></app-odometer>
          </h2>
          <app-price-change-today [priceChange]="stockDetails.quote.change"
            [percentChange]="stockDetails.quote.changePercent"></app-price-change-today>
        </div>
      </div>
      <app-stock-line-chart [quote]="stockDetails.quote"></app-stock-line-chart>
    </div>
    <div class="col-md-8">
      <app-buy-stock-card (boughtStockEmitter)="isWatching = true" [stockDetails]="stockDetails" [account]="account"
        [quote]="stockDetails.quote" [ownedStock]="ownedStock">
      </app-buy-stock-card>
      <div class="p-4">
        <app-watchlist-btn [watching]="isWatching" [stock]="stockDetails"></app-watchlist-btn>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-16">
      <div class="mb-5">
        <app-stock-details [stockDetails]="stockDetails"></app-stock-details>
      </div>
      <app-stock-news [symbol]="stockDetails.symbol"></app-stock-news>
    </div>
  </div>
</div>
<app-main-not-found-page *ngIf="!stockDetails"></app-main-not-found-page>
