<form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">

  <label class="mb-2" for="currentPassword">Current password</label>
  <input type="password" name="currentPassword" formControlName="currentPassword" class="input mb-2 show-errors"
    [attr.disabled]="isSubmitting ? '' : null">

  <div class="row mb-3">
    <div class="col-sm-12">
      <label class="mb-2" for="newPassword">New password</label>
      <input type="password" name="newPassword" formControlName="newPassword" class="input mb-2 mb-sm-0 show-errors"
        [attr.disabled]="isSubmitting ? '' : null">
    </div>
    <div class="col-sm-12">
      <label class="mb-2" for="confirmPassword">Confirm password</label>
      <input type="password" name="confirmPassword" formControlName="confirmPassword" class="input show-errors"
        [attr.disabled]="isSubmitting ? '' : null">
    </div>
  </div>

  <app-main-success-alert *ngIf="done" [message]="'Successfully updated'"></app-main-success-alert>
  <app-main-error-alert [errors]="errors"></app-main-error-alert>

  <button type="submit" class="btn btn-primary btn-lg mt-3"
    [disabled]="isSubmitting || !passwordForm.dirty || passwordForm.invalid">
    <span *ngIf="!isSubmitting">Update</span>
    <app-main-loader *ngIf="isSubmitting"></app-main-loader>
  </button>
</form>
